.button {
  min-width: rem(220px);
  height: rem(55px);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 0 10px;
  line-height: 1;
  color: $text-color;
  text-decoration: none;
  transition: background 0.5s;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  outline: none;

  &.small {
    min-width: rem(180px);
    height: rem(40px);
    font-size: 0.8rem;
  }
}

.button-primary {
  border: 1px solid $gold;
  background-color: $gold;
  &:hover {
    background-color: rgba($color: $gold, $alpha: 0.6);
  }
}

.button-close {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: auto;
  width: rem(50px);
  height: rem(50px);
  background-color: rgba($color: $gold, $alpha: 0.8);
  &:hover {
    background-color: $gold;
  }
}

.button-danger {
  border: 1px solid $red-500;
  background-color: $red-500;
  &:hover {
    background-color: rgba($color: $red-500, $alpha: 0.6);
  }
}
