// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(
        str-slice($string, $index + str-length($search)),
        $search,
        $replace
      );
  }

  @return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face(
  $name,
  $path,
  $weight: null,
  $style: null,
  $exts: eot woff2 woff ttf svg
) {
  $src: null;

  $extmods: (
    eot: "?",
    svg: "#" + str-replace($name, " ", "_"),
  );

  $formats: (
    otf: "opentype",
    ttf: "truetype",
  );

  @each $ext in $exts {
    $extmod: if(
      map-has-key($extmods, $ext),
      $ext + map-get($extmods, $ext),
      $ext
    );
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append(
      $src,
      url(quote($path + "." + $extmod)) format(quote($format)),
      comma
    );
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

// =============================================================================
// Rem sizel
// =============================================================================

@function stripUnit($value) {
  @return $value / ($value * 0 + 1);
}
@function rem($pxValue) {
  @return #{stripUnit($pxValue) / stripUnit($html-font-size)}rem;
}

// =============================================================================
//  tale
// =============================================================================
@mixin tale-color($border-color: $gold, $border-radius: 8px, $bg:  $dark-tiles) {
  background: $bg;
  border: 1px solid $border-color;
  border-radius: $border-radius;
}

@mixin tale-hover($border-color: $gold) {
  border-color: $border-color;
}

// =============================================================================
// Custom scroll
// =============================================================================

@mixin pretty-scroll($w:5px, $h:5px, $back: $dark-600) {
    overflow: auto;
    
    // firefox
    scrollbar-color:  $back transparent;
    scrollbar-width: thin;
    
    // == webkit ==
    // width
    &::-webkit-scrollbar {
        width: $w;
        height: $h;
        border-left: 10px;
        border-right: 10px;
        background: transparent;
        border-radius: 5px;
        
    }
    // Track
    &::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 5px;
        
    }
    // Handle
    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: $back;
    }
    // Handle on hover
    &::-webkit-scrollbar-thumb:hover {
        background: $white;
    }
}
