// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(
        str-slice($string, $index + str-length($search)),
        $search,
        $replace
      );
  }

  @return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face(
  $name,
  $path,
  $weight: null,
  $style: null,
  $exts: eot woff2 woff ttf svg
) {
  $src: null;

  $extmods: (
    eot: "?",
    svg: "#" + str-replace($name, " ", "_"),
  );

  $formats: (
    otf: "opentype",
    ttf: "truetype",
  );

  @each $ext in $exts {
    $extmod: if(
      map-has-key($extmods, $ext),
      $ext + map-get($extmods, $ext),
      $ext
    );
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append(
      $src,
      url(quote($path + "." + $extmod)) format(quote($format)),
      comma
    );
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

// =============================================================================
// Rem sizel
// =============================================================================

@function stripUnit($value) {
  @return $value / ($value * 0 + 1);
}
@function rem($pxValue) {
  @return #{stripUnit($pxValue) / stripUnit($html-font-size)}rem;
}

// =============================================================================
//  tale
// =============================================================================
@mixin tale-color($border-color: $gold, $border-radius: 8px) {
  background: $dark-tiles;
  border: 1px solid $border-color;
  border-radius: $border-radius;
}

@mixin tale-hover($border-color: $gold) {
  border-color: $border-color;
}

// =============================================================================
// Custom scroll
// =============================================================================

@mixin pretty-scroll($bg-color: transparent, $thumb-color: $grey-600) {
  scrollbar-color: $thumb-color $bg-color;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    margin-left: 5px;
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    background: $bg-color;
    border-radius: 9px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 9px;
    background: $thumb-color;
  }
}
